<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="Standalone or ContentDelivery or Reporting or ContentManagement or Processing or DedicatedDispatch">
    <services>
      <configurator type= "Sitecore.Support.CustomServiceConfigurator, Sitecore.Support.232559"/>
    </services>
  </sitecore>
</configuration>